# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.duckdb
*.db

# Dagster
.dagster/

# Logs
*.log

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# Dagster Temp Files
.tmp_dagster_home_*/

# Generated Reports
dashboard_report.txt